.btn-div {
    width: 100%;
    height: 10%;
}

.btn-div button {
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    background-image: none !important;
    border-color: transparent;
    border: none;
    color: #FFFFFF;
    text-align: left;
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 50px;
    cursor: pointer;
}

button.Petshion {
  cursor: default !important;
}

.symbol {
  margin-left: 10%;
  margin-right: 5%;
  margin-bottom: 3%;
  height: 6vh;
  width: 6vh;
  vertical-align: middle;
}