.add-img {
    margin-top: 1.5vw;
    margin-left: 1.5vw;
    width: 80%;
    height: width;
    cursor: pointer;
}

.scaleUp {
    animation-name: scaleUp;
    animation-duration: 1s;
}

@keyframes scaleUp {
    from {
        margin-left: 7.5vw;
        margin-top: 7.5vw;
        width: 0%;
        height: 0%;
    }

    to {
        margin-left: 0.5vw;
        margin-top: 0;
        width: 15vw;
        height: 15vw;
    }
}